/*
font-family: 'Fredericka the Great', cursive;
font-family: 'Tulpen One', cursive;
font-family: 'Medula One', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Amarante', cursive;
font-family: 'Kranky', cursive;
font-family: 'Alegreya', serif;
font-family: 'Roboto Slab', serif;
*/
$head-font: 'Tulpen One', cursive;
$body-font: 'Alegreya', serif; 
$sans-font: 'Oswald', sans-serif;

$django-white: #eee;
$django-gray-dark: #222;
$django-gray-light: #666;


