footer {
    background: $django-gray-dark;
    color: $django-white;
    padding: 1em;

    p {
      text-align: right;
      margin: 0;
    }
    a {
      color: $django-white;
      &:hover {
        opacity: 0.7;
      }
    }
}
